/*my css*/

/*我的流程主页样式*/
.spaces_box {
    width: 880px;
    height: 520px;
    padding-left: 20px;
    padding-top: 20px;
    overflow:auto;overflow-x:hidden;
}

.main{
    width:900px; overflow:auto; position:relative; height: 540px;
    overflow-x: hidden;}

.spaces_box ul {
    border:0px;
    float: left;
}

.spaces_box li{ display:inline-block; width:75px; text-align:center; margin: 10px 5px;}

.spaces_box li img{
    width:60px;
}
.spaces_box li:hover img,.spaces_box li:hover span{
    white-space: normal;
    word-wrap: break-word;
    text-overflow: clip;
    cursor:pointer;transform:scale(1.1);-webkit-transform:scale(1.1); }

.spaces_box li span{
    overflow: hidden;
    text-align: center;
    display: inline-block;
    text-align: center;
    font-size:12px; display:block; line-height:20px; color:#666; width: 75px; height: 40px;}

.normal_span {
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index:5;
}



/*创建流程步骤样式*/

.setup_main{ width:900px; overflow:auto; position:relative; height: 540px; overflow-x:hidden; }

.nav_process{
    position: absolute;
    width:139px; display:inline-block; float: left; vertical-align:top; height:540px; border-right:1px solid #e6e2e2; background-color: #fff;}

.setup_main_right{
    overflow-y: scroll;
    overflow-x: auto;
    width:750px; height: 530px; margin-left: 140px; position:relative; padding: 0px 10px 10px 0px; background-color: #f5f5f5;}

.tips_box{border-radius: 3px;}

.proo_main{ width:190px;}

.proo_main_create{ width:140px;}

#nav_scro {
    width:140px; overflow:auto;overflow-x:hidden; height: 485px;
}

.proo_box_cont span {
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    display: block;
    font-size: 11px;
    margin-left: 6px;
    padding-top: 8px;
}

/*选择步骤类型样式*/
.proo_box_cont_1 {
    background-image: url('../images/web-default.png');
    background-size: 120px 60px;
}
.proo_box_cont_1.selected_step {
    background-image: url('../images/web-selected.png');
}
.proo_box_cont_1 span, .network span, .proo_box_menu_1 span, .proo_box_menu_1 div {
    color: #77bc1f;
}

/*个性化样式*/
.proo_box_cont_2 {
    background-image: url('../images/tools-default.png');
    background-size: 120px 60px;
}
.proo_box_cont_2.selected_step {
    background-image: url('../images/tools-selected.png');
}
.proo_box_cont_2 span, .select_tool ul li span, .proo_box_menu_2 span, .proo_box_menu_2 div  {
    color: #ff6b00;
}

/*个性化流程样式*/
.proo_box_cont_3 {
    background-image: url('../images/process-default.png');
    background-size: 120px 60px;
}
.proo_box_cont_3.selected_step {
    background-image: url('../images/process-selected.png');
}
.proo_box_cont_3 span, .select_process ul li span, .proo_box_menu_3 span, .proo_box_menu_3 div  {
    color: #7899f8;
}

/*搜索样式*/
.proo_box_cont_4 {
    background-image: url('../images/search-default.png');
    background-size: 120px 60px;
}
.proo_box_cont_4.selected_step {
    background-image: url('../images/search-selected.png');
}
.proo_box_cont_4 span, .add_search ul li span, .proo_box_menu_4 span, .proo_box_menu_4 div  {
    color: #7b3dc3;
}

/*本地应用样式*/
.proo_box_cont_5 {
    background-image: url('../images/application-defaule.png');
    background-size: 120px 60px;
}
.proo_box_cont_5.selected_step {
    background-image: url('../images/application-selected.png');
}
.proo_box_cont_5 span, .add_localapp ul li span, .proo_box_menu_5 span, .proo_box_menu_5 div  {
    color: #23c9c3;
}

/*应用市场样式*/
.proo_box_cont_6 {
    background-image: url('../images/market-default.png');
    background-size: 120px 60px;
}
.proo_box_cont_6.selected_step {
    background-image: url('../images/market-selected.png');
}
.proo_box_cont_6 span, .add_appmarket ul li span, .proo_box_menu_6 span, .proo_box_menu_6 div  {
    color: #fda3a8;
}

/*聚合信息样式*/
.proo_box_cont_7 {
    background-image: url('../images/information-default.png');
    background-size: 120px 60px;
}
.proo_box_cont_7.selected_step {
    background-image: url('../images/information-selected.png');
}
.proo_box_cont_7 span, .had_juhe_div ul li span, .proo_box_menu_7 span, .proo_box_menu_7 div  {
    color: #00a1df;
}

/*社交群样式*/
.proo_box_cont_8 {
    background-image: url('../images/social-default.png');
    background-size: 120px 60px;
}
.proo_box_cont_8.selected_step {
    background-image: url('../images/social-selected.png');
}
.proo_box_cont_8 span, .add_socialgroup ul li span, .proo_box_menu_8 span, .proo_box_menu_8 div  {
    color: #dd5182;
}

/*我的存储样式*/
.proo_box_cont_9 {
    background-image: url('../images/storage-default.png');
    background-size: 120px 60px;
}
.proo_box_cont_9.selected_step {
    background-image: url('../images/storage-selected.png');
}
.proo_box_cont_9 span, .add_mystorage ul li span, .proo_box_menu_9 span, .proo_box_menu_9 div  {
    color: #feb54a;
}

/*宏样式*/
.proo_box_cont_10 {
    background-image: url('../images/storage-default.png');
    background-size: 120px 60px;
}
.proo_box_cont_10.selected_step {
    background-image: url('../images/storage-selected.png');
}
.proo_box_cont_10 span, .add_hong ul li span, .proo_box_menu_10 span, .proo_box_menu_10 div  {
    color: #fee7a6;
}

.proo_box{ width:200px;}

.proo_box_create { width:140px;}

.proo_box span{ width:160px; height:60px; line-height:60px; text-align:center; display:block; font-size: 38px; color: #999 }

.proo_box_cont {
    width:120px; display:block; margin:0 auto; height:60px;
    text-align: center; border-radius: 3px; cursor: pointer;
}

.proo_box_cont_url img {
    width: 120px;
    height: 60px;
}

.proo_box_add {
    width:120px; display:block; margin:0 auto; height:40px;
    text-align: center;
    border-radius: 3px; cursor: pointer;
}


.proo_box_add img {
    width: 120px;
    height: 40px;
}


.save_box img {
    width: 27px;
    height: 46px;
}

.save_box {
    text-align: center;
    padding-top: 5px;
}

/*选择样式*/
.type_title_select {
    height: 35px;
    background-color: #ccc;
}
.type_select_span {
    padding-left: 20px;
    line-height: 35px;
}
.pro_type {
    background-color: #fff; width: 500px; height: 300px;
    margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;
    z-index:9999;
    opacity: 1;
}
.type_close {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.save_icon {
    background-color: #fff; width: 376px; height: 60px;
    margin: auto; position: absolute; top: 0; left: 0; bottom: 30px; right: 0;
    z-index:9999;
    opacity: 1;
    padding-left: 20px;
}

.pro_save {
    background-color: #fff; width: 400px; height: 200px;
    margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;
    z-index:9999;
    opacity: 1;
}

.type_title {
    background: #e6e2e2;
    color: #000;
    overflow: hidden;
    height: 35px;
    width: 215px;
    line-height: 35px;
    padding-left: 185px;
}

.type_content{
    text-align: left;
    width: 500px;
    height: 245px;
    position: relative;
    margin-top: 20px;
}

.type_content li img:hover{cursor:pointer;transform:scale(1.1);-webkit-transform:scale(1.1);}

.type_content li span:hover{cursor:pointer; color:#333; text-decoration:underline;}

.type_ul {
    width: 476px;
    height: 265px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.type_ul li {
    display: inline-block;
    width: 75px;
    text-align: center;
    margin: 10px 10px;
    float: left;
}

.save_img {
    cursor: pointer;
}

.network, .tool, .juhe,.save_icon, .url_box, .tool_box, .pro_save, .process, .search, .localapp, .appmarket, .pro_type, .socialgroup, .mystorage, .juhe_box, .hong {
    display: none;
}

.to-block {
    display: block;
}

.to-none {
    display: none;
}


/*样式*/

.url_box input{width: 620px;}
.list_box {padding-top: 10px;font-size:0; width: 750px; height: 49px; border-bottom:1px solid #77bc1f;}
.list_box input{height:26px; line-height:26px; width:600px; vertical-align:middle;}
.list_box span{ font-size:14px; display:inline-block; width:49px; line-height:30px; vertical-align:middle; margin-left: 10px;}
.list_box a{ width:60px; height:28px; vertical-align:middle;}
.list_box select{ width:616px; height:28px; vertical-align:middle;}

.load {
    width: 750px; height: 470px; display: block;
}

.load_juhe {
    width: 750px; height: 470px; display: block;
}

/*保存样式*/
.save_ul {
    height: 65px;
    margin-top: 20px;
}
.save_content {
    text-align: center;
    height: 165px;
    width: 400px;
}
.save_title {
    width: 300px;
    height: 21px;
    margin-bottom: 10px;
}
.add_span , .select_icon_span {
    font-size: 12px;
}
.save_btn {
    width: 400px;
    height: 35px;
    margin-top:10px;
}
.save_btn span{
    width: 200px;
    height: 35px;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 35px;
    background-color: #e6e2e2;
    cursor: pointer;
}
.save_btn span:hover {
    background-color: #3D9BFF;
    color: #fff;
}
input::-ms-input-placeholder{text-align: center;}
input::-webkit-input-placeholder{text-align: center;}

.select_img {
    cursor: pointer;
}

.save_icon li {
    float: left;
    border: 1px dashed #fff;
    height: 60px;
    cursor: pointer;
}

.save_icon li img {
    width: 42px;
    height: 42px;
}




/*运行流程标题菜单样式*/

.menu_box {font-size:0; width: 900px; height: 39px; }
#menu_box_num1 { border-bottom:1px solid #77bc1f;}
#menu_box_num2 { border-bottom:1px solid #ff6b00;}
#menu_box_num3 { border-bottom:1px solid #7899f8;}
#menu_box_num4 { border-bottom:1px solid #7b3dc3;}
#menu_box_num5 { border-bottom:1px solid #23c9c3;}
#menu_box_num6 { border-bottom:1px solid #fda3a8;}
#menu_box_num7 { border-bottom:1px solid #00a1df;}
#menu_box_num8 { border-bottom:1px solid #dd5182;}
#menu_box_num9 { border-bottom:1px solid #feb54a;}

.menu_box span{ font-size:14px; display:inline-block; width:730px; line-height:30px; vertical-align:middle; margin-left: 20px; height: 30px;}
.menu_box a{
    width:50px;
    height:30px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    padding: 0 8px;
    line-height: 28px;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 20px;
    text-align: center;
}

#menu_box_num1 a {background: #77bc1f; border: 1px solid #77bc1f;}
#menu_box_num2 a {background: #ff6b00; border: 1px solid #ff6b00;}
#menu_box_num3 a {background: #7899f8; border: 1px solid #7899f8;}
#menu_box_num4 a {background: #7b3dc3; border: 1px solid #7b3dc3;}
#menu_box_num5 a {background: #23c9c3; border: 1px solid #23c9c3;}
#menu_box_num6 a {background: #fda3a8; border: 1px solid #fda3a8;}
#menu_box_num7 a {background: #00a1df; border: 1px solid #00a1df;}
#menu_box_num8 a {background: #dd5182; border: 1px solid #dd5182;}
#menu_box_num9 a {background: #feb54a; border: 1px solid #feb54a;}

.menu_num {
    width: 23px;
    height: 33px;
    margin-left: 20px;
}

#menu_num_num1 {
    background-image: url('../images/tab1.png');
}
#menu_num_num2 {
    background-image: url('../images/tab2.png');
}
#menu_num_num3 {
    background-image: url('../images/tab7.png');
}
#menu_num_num4 {
    background-image: url('../images/tab6.png');
}
#menu_num_num5 {
    background-image: url('../images/tab5.png');
}
#menu_num_num6 {
    background-image: url('../images/tab8.png');
}
#menu_num_num7 {
    background-image: url('../images/tab3.png');
}
#menu_num_num8 {
    background-image: url('../images/tab4.png');
}
#menu_num_num9 {
    background-image: url('../images/tab9.png');
}

.menu_box div {
    float: left;
    padding-top: 5px;
}

.menu_box div.menu_num  {
    padding-top: 0px;
}

#menu_box_num1 span {
    color: #77bc1f;
}
#menu_box_num2 span {
    color: #ff6b00;
}
#menu_box_num3 span {
    color: #7899f8;
}
#menu_box_num4 span {
    color: #7b3dc3;
}
#menu_box_num5 span {
    color: #23c9c3;
}
#menu_box_num6 span {
    color: #fda3a8;
}
#menu_box_num7 span {
    color: #00a1df;
}
#menu_box_num8 span {
    color: #dd5182;
}
#menu_box_num9 span {
    color: #feb54a;
}

.menu_num span {
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    display: block;
    font-size: 12px;
    margin-left: 7px;
    padding-top: 15px;
}

/*创建打开工具样式*/

.spaces_box_type li{ display:inline-block; width:84px; text-align:center; margin: 10px 5px; height: 105px; cursor:pointer;}

.spaces_box_type li img{
    width:48px;
    margin-top: 8px;
}

.spaces_box_type li:hover img,.spaces_box_type li:hover span{
    white-space: normal;
    word-wrap: break-word;
    text-overflow: clip;
    cursor:pointer;transform:scale(1.1);-webkit-transform:scale(1.1); }

.spaces_box_type li span{
    overflow: hidden;
    text-align: center;
    display: inline-block;
    text-align: center;
    font-size:12px; display:block; line-height:20px; color:#666; width: 75px; height: 40px; margin-left: 5px;}

.spaces_box_type li.selected  {
    padding: 0;
    position: relative;
    z-index: 0;
    background-image: url('../images/background.png');
}
.spaces_box_type li.selected i {
    display: block;
}
.spaces_box_type li i {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    right: 3px;
    top: 3px;
    background: url(../images/selected.png) no-repeat right bottom;
    z-index: 99;
    display: none;
}

.spaces_box_type {
    margin-left: 20px;
    padding-top: 20px;
}

/*右键菜单样式*/
#jqContextMenu ul li{
    font-size: 12px;
    border:1px solid #CCC;
}


/*流程步骤菜单*/
.toolbar{position:fixed;right:10px;bottom:50px;}/*假设网页宽度为1200px，导航条在右侧悬浮*/
.toolbar-item{display:block;width:25px;height:25px;margin-top:1px;position:relative;-moz-transition:background-position 1s;-ms-transition:background-position 1s;-o-moz-transition:background-position 1s;-webkit-moz-transition:background-position 1s;transition:background-position 1s;}
.toolbar-item img {
    width: 25px;
    height: 25px;
}

.menu_main {
    width: 160px;
    height: 470px;
    overflow:auto;
}

#nav_scro_menu {
    width:160px; overflow:auto;overflow-x:hidden; height: 464px;

}

.pro_menu_span {
    width:160px; display:block; margin:0 auto; height:60px;
    border-radius: 3px;
}

.showProStep {
    border: 2px solid #3D9BFF;
}
#outerDiv2 {
    width:216px;height:460px;overflow:auto;

}
/*不同类型步骤菜单样式*/
/*打开网址*/
.proo_box_menu_1 {
    background-image: url('../images/showurl.png');
    background-size: 160px 80px;
}
/*个性化工具样式*/
.proo_box_menu_2 {
    background-image: url('../images/showtool.png');
    background-size: 160px 80px;
}
/*个性化流程样式*/
.proo_box_menu_3 {
    background-image: url('../images/showprcess.png');
    background-size: 160px 80px;
}
/*本地应用样式*/
.proo_box_menu_5 {
    background-image: url('../images/showlocalapp.png');
    background-size: 160px 80px;
}
/*搜索样式*/
.proo_box_menu_4 {
    background-image: url('../images/showsearch.png');
    background-size: 160px 80px;
}
/*市场应用样式*/
.proo_box_menu_6 {
    background-image: url('../images/showmarketapp.png');
    background-size: 160px 80px;
}
/*聚合信息样式*/
.proo_box_menu_7 {
    background-image: url('../images/showjuhe.png');
    background-size: 160px 80px;
}
/*社交群样式*/
.proo_box_menu_8 {
    background-image: url('../images/showsocial.png');
    background-size: 160px 80px;
}
/*我的存储样式*/
.proo_box_menu_9 {
    background-image: url('../images/showstorage.png');
    background-size: 160px 80px;
}

.proo_box_menu {
    width:160px; display:block; margin:0 auto; height:80px;
    text-align: center; border-radius: 3px;
}

.proo_box_menu span.title_menu_num {
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    margin-left: 8px;
    margin-top: 10px;
    float: left;
}

.proo_box_menu div.title_menu_type {
    width: 120px;
    line-height: 15px;
    text-align: center;
    font-size: 13px;
    padding-top: 30px;
    display:inline-block;
    word-wrap: break-word;
    margin-left: -30px;
    overflow: hidden;
    height: 30px;
}

.proo_box_menu div.title_menu_type:hover{ overflow: visible;}


/*聚合源样式*/
.juhe_top_div {
    width: 745px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
}
.juhe_content_div {
    border-top: 1px solid #00a1df;
}

.had_juhe_div {
    width: 660px;
    float: left;
}
.had_juhe_div i {
    font-style: normal;
    display: inline-block;
    cursor: pointer;
    margin: 0 3px;
    padding: 0 10px;
    line-height: 20px;
    border-radius: 3px;
    background: #85c7fe;
    color: #5a5a5a;
    font-size: 14px;
}
.had_juhe_div ul li {
    float: left;
}
.add_juhe_btn {
    float: right;
    width: 85px;
    height: 64px;
}
.add_juhe_btn span {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    line-height: 26px;
    border-radius: 3px;
    background: #0078ff;
    text-align: center;
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
}
.add_juhe_btn span.delete_juhe {
    width: 70px;
    height: 30px;
    background: #fff;
    margin-top: 5px;
}


.iframe{ width: 760px;height: 502px; margin: 0 auto; }

.loadjuhe {
    width: 890px; height: 480px; display: block;
}


/* CSS Document */

.xm_box,.spaces_box{ font-size:0;}
.xm_box span{ font-size:14px; display:inline-block; height:24px; line-height:24px; padding:0 8px; border:1px solid #CCC; border-radius:3px; margin:0 8px; cursor:pointer; color:#999;}
.xm_box span:hover{ border-color:#999; color:#333;}
.spaces_box{text-align:left}

.les select{ width:672px; height:28px;}
.les a,.url_box a{ text-decoration:none; font-size:14px; color:#fff; background:#2a74fb; display:inline-block; height:28px; padding: 0 8px; line-height:28px; border:1px solid #7899f8; border-radius:3px; vertical-align:middle; margin-left:5px;}
.les a:hover,.url_box a:hover{ background: #7899f8;}

.set_box{ position:relative; min-height:400px;}

.juhe>div{display:inline-block; vertical-align:top; margin: 0 auto;}
.searce{ width:100px; text-align:center;}
.searce a{display:inline-block; width:70px; height:24px; text-align:center; line-height:24px; border:1px solid #2e59a7; background:#2a74fb; color:#fff; text-decoration:none; margin-bottom:12px; font-size:14px; border-radius: 3px;}
.searce a:hover{background: #2e59a7;}
.searce a:last-child{font-size:30px;}

.searce_center{ width: 720px; height: 453px; border: 1px solid #CCCCCC; overflow-y: auto;}
.searce_box{border-bottom: 1px solid #CCCCCC}
.searce_box h3{ text-align: center;border-bottom: 1px solid #CCCCCC; background: #CCCCCC;}

.mess .close{ text-align: right;}
.chakan input{ width: 650px;}
.yanshi_box .searce_center { display: block; margin: 0 auto;}

