.plTop{ height: 60px; background: #3d9bff; font-size: 0; position: relative; z-index: 2;}
.addy{box-shadow:0px 0px 6px 0px #8a8a8a; width: 1160px; float: left;}
.plTop span{ display: inline-block; vertical-align: top;}
.logo{ line-height: 60px; font-size: 24px; color: #fff;}
.logo img{ width: 46px; vertical-align: top; margin: 7px 90px 0 10px; border-radius:23px;}
.conls_a{ text-align: right; float: right;}
.conls_a a{ display: inline-block; width: 26px; height: 26px; text-indent: 20em; overflow: hidden; background-image: url(../img/tips.png);-webkit-app-region:no-drag;}
.conls_a a:nth-child(2){ background-position: -26px 0px; display: none;}
.conls_a a:nth-child(3){ background-position: -52px 0px;}
.conls_a a:nth-child(1):hover,.conls_a a:nth-child(2):hover{ background-color:#85c7fe;}
.conls_a a:nth-child(3):hover{ background-color: #e10000;}

.addycenter .logo img{ margin-right: 475px;}

.main{ padding: 20px;}
.main span{display: inline-block;  cursor: pointer; margin: 10px; vertical-align: top; width: 90px; text-align: center; transition:.3s;}
.main img{ width: 66px; height: 66px; border-radius: 33px; overflow: hidden; display: block; margin: 0 auto; transition:.3s;}
.main i{font-style:normal; line-height: 26px;}
.main span:hover img{transform:scale(1.1)}
.main span:last-child{border:1px solid #efefef; width: 64px; height: 64px; border-radius: 33px; border:1px solid #efefef; font-size: 24px; line-height: 60px; text-align: center; margin-left: 30px;}
.main span:last-child:hover{border-color: #999999;}

.yuan span{ cursor: pointer;}
.center_span{ float: left;}
.yuan{ float: right;}
.yuan span{ display: inline-block; vertical-align: top; width: 70px; line-height: 26px; border-radius: 3px; background: #0078ff; text-align: center; color: #fff; margin-left: 15px;}
.yuan span:hover{ background: #3d9bff;}
.center_span span{ display: inline-block; vertical-align: top;}
.center_span span i{ font-style: normal; display: inline-block; cursor: pointer; margin: 0 3px; padding: 0 10px; line-height: 24px; border-radius: 3px; background: #efefef;  color: #5a5a5a; font-size: 14px;}
.iframe{ width: 748px;height: 500px; margin: 0 auto; border: 1px solid #efefef;}
.iframeAddJuhe{ width: 900px;height: 600px; margin: 0 auto; border: 1px solid #efefef;}
.loadtitle{ height: 39px; line-height: 39px; background: #f5f5f5; clear: both; padding: 0 10px; font-size: 14px; border-bottom:1px dashed #000;}
.loadtitle a{ text-decoration:none; display: inline-block; vertical-align: top; width: 60px; line-height: 24px; text-align: center; background: #3d9bff; border-radius:3px; color: #fff; margin-top: 9px;}
.loadtitle a.del{ background: #848484; cursor: default;}
.loadtitle input[name=name]{width: 140px; margin-right: 10px;}
.loadtitle input[name=name],.loadtitle input[name=web]{ line-height: 16px; padding: 4px 8px; vertical-align: top; margin-top: 7px; background: none; border: 1px solid #dddddd; border-radius: 3px;}
.loadtitle input[name=web]{ width: 360px; margin-right: 50px;}
.loadtitle input[name=name],.loadtitle input[name=web]:focus{ outline: none;}
.showWeb{width: 1160px; position: relative;}
.topBox{ position: absolute; top:0; left:0; z-index: 2; width: 100%; height: 100%; display: none;}
.jeq{ position: absolute; z-index: 3; background: rgba(0,0,0,.6);}

.iframeBox{ overflow: hidden;}

.toptitle{ overflow: hidden; padding: 10px 20px; line-height: 26px;}

.fex{ position: absolute; z-index: 1; top:-50%; left: 50%; border-radius: 3px; overflow: hidden; margin: -130px 0 0 -200px; width: 400px; height: 260px; background: #fff; box-shadow: 0px 0px 6px #999;transition: .3s;}
.fex h3{ text-align: center; line-height: 46px; background: #0078ff; color: #fff; font-size: 20px; box-shadow: 0 0 2px #999;}
.cenInput{ padding: 0 45px; margin: 40px 0 30px;}
.cenInput span{ display: block; line-height: 36px; color: #333;}
.cenInput input{ border:0; border-bottom: 1px solid #efefef; line-height: 26px; width: 100%; font-size: 16px;}
.cenInput input:focus{outline: none;}
.cenBut{ font-size: 0; text-align: center;}
.cenBut a{ display: inline-block; width: 120px; line-height: 36px; font-size: 16px; background: #0078ff; color: #fff; margin: 0 25px;}
.cenBut a:hover{ background: #3d9bff;}