<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Create Process</title>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/css.css"/>
    <link rel="stylesheet" href="css/juheCreate.css">
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.contextmenu.js"></script>
    <script type="text/javascript" src="js/lib/jquery.contextmenu2.js"></script>
    <script type="text/javascript" src="js/lib/msgbox.js"></script>
</head>
<body class="tips_box">
<div id="head" style="width: 900px">
    <div class="head_l"><img src="images/icom-0.png"></div>
    <div class="icon_a">
        <a  class="mini_a" href="javascript:;" onclick="minWindow()" ></a>
        <a class="close_a" href="javascript:;" onclick="closeWindow()" ></a>
    </div>
    <span>Create Process</span>
</div>

<div class="setup_main">

    <div class="nav_process">
        <div class="save">
            <div class="save_box"><img class="save_img" src="images/save-pro.png"></div>
        </div>
        <div id="nav_scro">
            <div class="proo_main_create">
            </div>
            <div class="proo_box_create">
                <div class="proo_box_add"><img src="images/steps-to-add-default.png"></div>
            </div>
        </div>
    </div>

    <div class="setup_main_right">

        <div class="pro_type">
            <div class="type_title_select">
                <span class="type_select_span">请选择步骤类型</span>
                <span class="type_close"><img src="images/close-bounced-default.png"></span>
            </div>
            <div class="type_content">
                <div class="type_ul">
                    <ul id="add_type_step">
                        <li class="type_network" id="1">
                            <div class="add_img">
                                <img src="images/open-the-web.png">
                            </div>
                            <span class="add_span">打开网址</span>
                        </li>
                        <li class="type_process" id="3">
                            <div class="add_img">
                                <img src="images/icon-process.png">
                            </div>
                            <span class="add_span">个性化流程</span>
                        </li>
                        <li class="type_localapp" id="5">
                            <div class="add_img">
                                <img src="images/icon-local-application.png">
                            </div>
                            <span class="add_span">本地应用</span>
                        </li>
                        <li class="type_toinfo" id="7">
                            <div class="add_img">
                                <img src="images/aggregate-information.png">
                            </div>
                            <span class="add_span">聚合信息</span>
                        </li>
                        <li class="type_tool" id="2">
                            <div class="add_img">
                                <img src="images/open-the-tools.png">
                            </div>
                            <span class="add_span">个性化工具</span>
                        </li>
                        <li class="type_search" id="4">
                            <div class="add_img">
                                <img src="images/icon-search.png">
                            </div>
                            <span class="add_span">搜索</span>
                        </li>
                        <li class="type_market" id="6">
                            <div class="add_img">
                                <img src="images/icon-market.png">
                            </div>
                            <span class="add_span">应用市场</span>
                        </li>
                        <li class="type_social" id="8">
                            <div class="add_img">
                                <img src="images/icon-social.png">
                            </div>
                            <span class="add_span">社交群</span>
                        </li>
                        <li class="type_storage" id="9">
                            <div class="add_img">
                                <img src="images/icon-storage.png">
                            </div>
                            <span class="add_span">我的存储</span>
                        </li>
                        <li class="type_storage" id="10">
                            <div class="add_img">
                                <img src="images/icon-hong.png">
                            </div>
                            <span class="add_span">宏</span>
                        </li>
                        <li class="type_default">
                            <div class="add_img">
                            </div>
                            <span class="add_span">&nbsp;</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pro_save">
            <div class="type_title">保存</div>
            <div class="save_content">
                <div class="save_ul">
                    <ul class="select_icon">
                        <li>
                            <div class="replace_icon"><img class="select_img" src="images/add1.png"></div>
                        </li>
                    </ul>
                </div>
                <input class="save_title" id="pro_name" type="text" value="" placeholder="请输入流程名称">
                <div class="save_btn">
                    <span class="save_pro">保存</span>
                    <span class="cancel_pro">取消</span>
                </div>

            </div>
        </div>

        <ul class="save_icon">
            <li id="icon1"><img src="images/icon/icon1.png"></li>
            <li id="icon2"><img src="images/icon/icon2.png"></li>
            <li id="icon3"><img src="images/icon/icon3.png"></li>
            <li id="icon4"><img src="images/icon/icon4.png"></li>
            <li id="icon5"><img src="images/icon/icon5.png"></li>
            <li id="icon6"><img src="images/icon/icon6.png"></li>
            <li id="icon7"><img src="images/icon/icon7.png"></li>
            <li id="icon8"><img src="images/icon/icon8.png"></li>
        </ul>
        <!--打开网址-->
        <div class="leixing url_box network " id="type1">
            <div class="list_box">
                <span>网址：</span>
                <input type="text" value="" placeholder="请输入网址">
                <a href="javascript:;">查看效果</a>
            </div>
            <div class="load">
                <iframe frameborder="0" scrolling="yes" width="750" height="470"></iframe>
            </div>
        </div>
        <!--个性化工具-->
        <div class="leixing set_box tool " id="type2">
            <div class="spaces_box_type select_tool">
                <ul class="load_had_tool"></ul>
            </div>
        </div>
        <!--个性化流程-->
        <div class="leixing set_box process " id="type3">
            <div class="spaces_box_type select_process">
                <ul class="load_had_process"></ul>
            </div>
        </div>
        <!--搜索-->
        <div class="leixing set_box search " id="type4">
            <div class="spaces_box_type add_search">
                <ul class="load_search"></ul>
            </div>
        </div>
        <!--本地应用-->
        <div class="leixing set_box localapp " id="type5">
            <div class="spaces_box_type add_localapp">
                <ul class="load_localapp"></ul>
            </div>
        </div>
        <!--应用市场-->
        <div class="leixing set_box appmarket " id="type6">
            <div class="spaces_box_type add_appmarket">
                <ul class="load_appmarket"></ul>
            </div>
        </div>
        <!--聚合信息-->
        <div class="leixing set_box juhe" id="type7">
            <div class="juhe_top_div">
                <div class="had_juhe_div">
                    <ul class="had_juhe_ul"></ul>
                </div>
                <div class="add_juhe_btn">
                    <span onclick="add_juhe_span()">创建源</span>
                    <span  class="delete_juhe" ondrop="drop_delete(event)" ondragover="allowDrop(event)"><img src="images/deletejuhe.jpg"></span>
                </div>
            </div>

            <div class="juhe_content_div">
                <div class="iframeAddJuhe" ondrop="drop(event)" ondragover="allowDrop(event)">请把聚合源托至此处添加</div>
            </div>
        </div>
        <!--社交群-->
        <div class="leixing set_box socialgroup " id="type8">
            <div class="spaces_box_type add_socialgroup">
                <ul class="load_socialgroup"></ul>
            </div>
        </div>
        <!--我的存储-->
        <div class="leixing set_box mystorage " id="type9">
            <div class="spaces_box_type add_mystorage">
                <ul class="load_mystorage"></ul>
            </div>
        </div>
        <!--宏-->
        <div class="leixing set_box hong " id="type10">
            <div class="spaces_box_type add_hong">
                <ul class="load_hong"></ul>
            </div>
        </div>
    </div>
</div>
<!-- 右键功能-->
<div class="contextMenu" id="sysMenu">
    <ul>
        <li id="Li1">新建步骤</li>
        <li id="Li2">删除</li>
    </ul>
</div>

<!--本地应用右键功能-->
<div class="contextMenu2" id="sysMenu2">
    <ul>
        <li id="Li11">删除</li>
    </ul>
</div>

<div class="loading">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

</body>
<script type="text/javascript" src="js/CreateProcess.js"></script>
</html>