<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>My Process</title>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/css.css"/>
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.contextmenu.js"></script>
    <script type="text/javascript" src="js/lib/msgbox.js"></script>
</head>
<body class="index_box">
    <div id="head" style="-webkit-app-region:drag;">
        <div class="head_l"><img src="images/icom-0.png"></div>
        <div class="icon_a" style="-webkit-app-region:no-drag;">
            <a  class="mini_a" href="javascript:;" onclick="minWindow()" ></a>
            <a class="close_a" href="javascript:;" onclick="closeWindow()" ></a>
        </div>
        <span>My Process</span>
    </div>

    <div class="main index">
        <div class="spaces_box">
            <ul class="new_pro">
            </ul>
        </div>
    </div>
    <!-- 右键功能-->
    <div class="contextMenu" id="sysMenu">
        <ul>
            <li id="Li1">删除</li>
            <li id="Li2">重命名</li>
            <li id="Li4">编辑流程</li>
            <li id="Li3">流程步骤查看</li>
        </ul>
    </div>
</body>
<script type="text/javascript" src="js/indexjs.js"></script>
</html>
