<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Process Menu</title>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/css.css"/>
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/msgbox.js"></script>
</head>
<body class="tips_box">
<div id="menu_head">
    <div class="icon_a">
        <a  class="mini_a" href="javascript:;" onclick="minWindow()" ></a>
        <a class="close_a" href="javascript:;" onclick="closeWindow()" ></a>
    </div>
    <span>流程步骤</span>
</div>
<div class="showProStep">
    <div id="outerDiv2">
        <div style="width:206px;height:460px" id="innerDiv">
            <div class="proo_main" id="pro_menu_box">
            </div>
            <div class="proo_box">
                <div class="pro_menu_span" id="content"><span>OVER</span></div>
            </div>
        </div>
    </div>
</div>


<div class="toolbar">
    <a href="javascript:scrolltop()" id="top" class="toolbar-item toolbar-item-top"><img src="images/backtop.png"></a>
</div>
</body>
<script type="text/javascript" src="js/showProMenu.js"></script>
</html>